In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
import os
# Set the SPARK_LOCAL_HOSTNAME environment variable to localhost
os.environ["SPARK_LOCAL_HOSTNAME"] = "localhost"

In [3]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [4]:
df = spark.read.csv('Sample - Superstore original file.csv', header=True)
df.show()

+------+--------------+----------+---------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+--------------------+--------+--------+--------+
|Row ID|      Order ID|Order Date|Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|      Country|        City|       State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|               Sales|Quantity|Discount|  Profit|
+------+--------------+----------+---------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+--------------------+--------+--------+--------+
| 79814|CA-2011-103800|  03-01-13| 07-01-13|Standard Class|   DP-13000|   Darren Powers|   Consumer|United States|     Houston|       Texas|      77095|Central|OFF-PA-10000174|Office Supplies|       Paper|"Message Book, Wi...| 200 Dupl. Sets/B...|  16.448|       2|     0.2|
|   740|CA-2011-112326|  04-01-13| 08-01-13|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-LA-10003223|Office Supplies|      Labels|           Avery 508|              11.784|       3|     0.2|  4.2717|
|   741|CA-2011-112326|  04-01-13| 08-01-13|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-ST-10002743|Office Supplies|     Storage|SAFCO Boltless St...|             272.736|       3|     0.2|-64.7748|
|   742|CA-2011-112326|  04-01-13| 08-01-13|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-BI-10004094|Office Supplies|     Binders|GBC Standard Plas...|                3.54|       2|     0.8|  -5.487|
|  1760|CA-2011-141817|  05-01-13| 12-01-13|Standard Class|   MB-18085|      Mick Brown|   Consumer|United States|Philadelphia|Pennsylvania|      19143|   East|OFF-AR-10003478|Office Supplies|         Art|Avery Hi-Liter Ev...|              19.536|       3|     0.2|   4.884|
|  5328|CA-2011-130813|  06-01-13| 08-01-13|  Second Class|   LS-17230|Lycoris Saunders|   Consumer|United States| Los Angeles|  California|      90049|   West|OFF-PA-10002005|Office Supplies|       Paper|           Xerox 225|               19.44|       3|       0|  9.3312|
|  7181|CA-2011-106054|  06-01-13| 07-01-13|   First Class|   JO-15145|   Jack O'Briant|  Corporate|United States|      Athens|     Georgia|      30605|  South|OFF-AR-10002399|Office Supplies|         Art|Dixon Prang Water...|               12.78|       3|       0|  5.2398|
|  7475|CA-2011-167199|  06-01-13| 10-01-13|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|FUR-CH-10004063|      Furniture|      Chairs|Global Deluxe Hig...|             2573.82|       9|       0|746.4078|
|  7476|CA-2011-167199|  06-01-13| 10-01-13|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-BI-10004632|Office Supplies|     Binders|Ibico Hi-Tech Man...|              609.98|       2|       0| 274.491|
|  7477|CA-2011-167199|  06-01-13| 10-01-13|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-AR-10001662|Office Supplies|         Art|Rogers Handheld B...|                5.48|       2|       0|  1.4796|
|  7478|CA-2011-167199|  06-01-13| 10-01-13|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004977|     Technology|      Phones|         GE 30524EE4|              391.98|       2|       0|113.6742|
|  7479|CA-2011-167199|  06-01-13| 10-01-13|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004539|     Technology|      Phones|Wireless Extender...|              755.96|       4|       0|204.1092|
|  7480|CA-2011-167199|  06-01-13| 10-01-13|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-FA-10001883|Office Supplies|   Fasteners|Alliance Super-Si...|               31.12|       4|       0|  0.3112|
|  7481|CA-2011-167199|  06-01-13| 10-01-13|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-PA-10000955|Office Supplies|       Paper|Southworth 25% Co...|                6.54|       1|       0|  3.0084|
|  7661|CA-2011-105417|  07-01-13| 12-01-13|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|FUR-FU-10004864|      Furniture| Furnishings|"Howard Miller 14...|              76.728|       3|     0.6|-53.7096|
|  7662|CA-2011-105417|  07-01-13| 12-01-13|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|OFF-BI-10003708|Office Supplies|     Binders|Acco Four Pocket ...|               10.43|       7|     0.8|-18.2525|
|   593|CA-2011-135405|  09-01-13| 13-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|OFF-AR-10004078|Office Supplies|         Art|          Newell 312|               9.344|       2|     0.2|   1.168|
|   594|CA-2011-135405|  09-01-13| 13-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|TEC-AC-10001266|     Technology| Accessories|Memorex Micro Tra...|                31.2|       3|     0.2|    9.75|
|   866|CA-2011-149020|  10-01-13| 15-01-13|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|OFF-LA-10004272|Office Supplies|      Labels|           Avery 482|                2.89|       1|       0|  1.3583|
|   867|CA-2011-149020|  10-01-13| 15-01-13|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|FUR-FU-10000965|      Furniture| Furnishings|"Howard Miller 11...|               51.94|       1|       0| 21.2954|
+------+--------------+----------+---------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+--------------------+--------+--------+--------+
only showing top 20 rows

In [5]:
from pyspark.sql.functions import *

In [6]:
df.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [7]:
df.select('Row ID','Order ID').show()

+------+--------------+
|Row ID|      Order ID|
+------+--------------+
| 79814|CA-2011-103800|
|   740|CA-2011-112326|
|   741|CA-2011-112326|
|   742|CA-2011-112326|
|  1760|CA-2011-141817|
|  5328|CA-2011-130813|
|  7181|CA-2011-106054|
|  7475|CA-2011-167199|
|  7476|CA-2011-167199|
|  7477|CA-2011-167199|
|  7478|CA-2011-167199|
|  7479|CA-2011-167199|
|  7480|CA-2011-167199|
|  7481|CA-2011-167199|
|  7661|CA-2011-105417|
|  7662|CA-2011-105417|
|   593|CA-2011-135405|
|   594|CA-2011-135405|
|   866|CA-2011-149020|
|   867|CA-2011-149020|
+------+--------------+
only showing top 20 rows

In [8]:
df = df.withColumn('Row ID', df['Row ID'].cast('int'))

In [9]:
df = df.withColumn('Order Date', to_date('Order Date', 'dd-MM-yy'))

In [10]:
df = df.withColumn('Ship Date', to_date('Ship Date', 'dd-MM-yy'))

In [11]:
df = df.withColumn('Sales', df['Sales'].cast('float'))

In [12]:
df = df.withColumn('Profit', df['Profit'].cast('float'))

In [13]:
df = df.withColumn('Discount', df['Discount'].cast('float'))

In [14]:
df = df.withColumn('Quantity', df['Quantity'].cast('int'))

In [15]:
df.show()

+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|      Country|        City|       State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
| 79814|CA-2011-103800|2013-01-03|2013-01-07|Standard Class|   DP-13000|   Darren Powers|   Consumer|United States|     Houston|       Texas|      77095|Central|OFF-PA-10000174|Office Supplies|       Paper|"Message Book, Wi...|   null|      16|     2.0|     0.2|
|   740|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-LA-10003223|Office Supplies|      Labels|           Avery 508| 11.784|       3|     0.2|  4.2717|
|   741|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-ST-10002743|Office Supplies|     Storage|SAFCO Boltless St...|272.736|       3|     0.2|-64.7748|
|   742|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-BI-10004094|Office Supplies|     Binders|GBC Standard Plas...|   3.54|       2|     0.8|  -5.487|
|  1760|CA-2011-141817|2013-01-05|2013-01-12|Standard Class|   MB-18085|      Mick Brown|   Consumer|United States|Philadelphia|Pennsylvania|      19143|   East|OFF-AR-10003478|Office Supplies|         Art|Avery Hi-Liter Ev...| 19.536|       3|     0.2|   4.884|
|  5328|CA-2011-130813|2013-01-06|2013-01-08|  Second Class|   LS-17230|Lycoris Saunders|   Consumer|United States| Los Angeles|  California|      90049|   West|OFF-PA-10002005|Office Supplies|       Paper|           Xerox 225|  19.44|       3|     0.0|  9.3312|
|  7181|CA-2011-106054|2013-01-06|2013-01-07|   First Class|   JO-15145|   Jack O'Briant|  Corporate|United States|      Athens|     Georgia|      30605|  South|OFF-AR-10002399|Office Supplies|         Art|Dixon Prang Water...|  12.78|       3|     0.0|  5.2398|
|  7475|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|FUR-CH-10004063|      Furniture|      Chairs|Global Deluxe Hig...|2573.82|       9|     0.0|746.4078|
|  7476|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-BI-10004632|Office Supplies|     Binders|Ibico Hi-Tech Man...| 609.98|       2|     0.0| 274.491|
|  7477|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-AR-10001662|Office Supplies|         Art|Rogers Handheld B...|   5.48|       2|     0.0|  1.4796|
|  7478|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004977|     Technology|      Phones|         GE 30524EE4| 391.98|       2|     0.0|113.6742|
|  7479|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004539|     Technology|      Phones|Wireless Extender...| 755.96|       4|     0.0|204.1092|
|  7480|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-FA-10001883|Office Supplies|   Fasteners|Alliance Super-Si...|  31.12|       4|     0.0|  0.3112|
|  7481|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-PA-10000955|Office Supplies|       Paper|Southworth 25% Co...|   6.54|       1|     0.0|  3.0084|
|  7661|CA-2011-105417|2013-01-07|2013-01-12|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|FUR-FU-10004864|      Furniture| Furnishings|"Howard Miller 14...| 76.728|       3|     0.6|-53.7096|
|  7662|CA-2011-105417|2013-01-07|2013-01-12|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|OFF-BI-10003708|Office Supplies|     Binders|Acco Four Pocket ...|  10.43|       7|     0.8|-18.2525|
|   593|CA-2011-135405|2013-01-09|2013-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|OFF-AR-10004078|Office Supplies|         Art|          Newell 312|  9.344|       2|     0.2|   1.168|
|   594|CA-2011-135405|2013-01-09|2013-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|TEC-AC-10001266|     Technology| Accessories|Memorex Micro Tra...|   31.2|       3|     0.2|    9.75|
|   866|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|OFF-LA-10004272|Office Supplies|      Labels|           Avery 482|   2.89|       1|     0.0|  1.3583|
|   867|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|FUR-FU-10000965|      Furniture| Furnishings|"Howard Miller 11...|  51.94|       1|     0.0| 21.2954|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
only showing top 20 rows

In [16]:
df.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: date (nullable = true)
 |-- Ship Date: date (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: float (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Discount: float (nullable = true)
 |-- Profit: float (nullable = true)

In [17]:
df.groupby('Category').sum('Sales','Profit').show()

+---------------+-----------------+------------------+
|       Category|       sum(Sales)|       sum(Profit)|
+---------------+-----------------+------------------+
|Office Supplies|703502.9273704886|120632.87826035172|
|      Furniture|733046.8596462011|19686.427146330476|
|     Technology|835900.0648635626|145388.29595325142|
+---------------+-----------------+------------------+

In [18]:
from pyspark.sql.functions import sum,avg,round

In [19]:
df.groupby('Category').agg(sum('Sales').alias('sum_sales'),avg('Profit').alias('avg_profit')).show()

+---------------+-----------------+-----------------+
|       Category|        sum_sales|       avg_profit|
+---------------+-----------------+-----------------+
|Office Supplies|703502.9273704886|20.01873187194685|
|      Furniture|733046.8596462011|9.281672393366561|
|     Technology|835900.0648635626|78.71591551340087|
+---------------+-----------------+-----------------+

In [20]:
df.where((df['Profit']>0) & (df['Category']=='Furniture')).show()

+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------+------------+--------------------+-------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|    Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID| Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------+------------+--------------------+-------+--------+--------+--------+
|  7475|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|    Maria Etezadi|Home Office|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10004063|Furniture|      Chairs|Global Deluxe Hig...|2573.82|       9|     0.0|746.4078|
|   867|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|   Anthony Jacobs|  Corporate|United States|    Springfield|      Virginia|      22153|  South|FUR-FU-10000965|Furniture| Furnishings|"Howard Miller 11...|  51.94|       1|     0.0| 21.2954|
|   717|CA-2011-130092|2013-01-11|2013-01-14|   First Class|   SV-20365|      Seth Vernon|   Consumer|United States|          Dover|      Delaware|      19901|   East|FUR-FU-10000010|Furniture| Furnishings|DAX Value U-Chann...|   9.94|       2|     0.0|  3.0814|
|  2979|CA-2011-109232|2013-01-13|2013-01-16|  Second Class|   ND-18370|Natalie DeCherney|   Consumer|United States| Mount Pleasant|South Carolina|      29464|  South|FUR-CH-10000422|Furniture|      Chairs|Global Highback L...| 545.94|       6|     0.0| 87.3504|
|  4939|CA-2011-157147|2013-01-13|2013-01-18|Standard Class|   BD-11605|     Brian Dahlen|   Consumer|United States|  San Francisco|    California|      94109|   West|FUR-BO-10003034|Furniture|   Bookcases|O'Sullivan Elevat...|333.999|       3|    0.15|  3.9294|
|   971|CA-2011-115791|2013-01-16|2013-01-18|  Second Class|   DL-13315|Delfina Latchford|   Consumer|United States|   Philadelphia|  Pennsylvania|      19134|   East|FUR-FU-10001095|Furniture| Furnishings|DAX Black Cherry ...|127.104|       6|     0.2| 28.5984|
|  1124|US-2011-147627|2013-01-20|2013-01-26|Standard Class|   HL-15040|     Hunter Lopez|   Consumer|United States|      Jonesboro|      Arkansas|      72401|  South|FUR-FU-10003194|Furniture| Furnishings|Eldon Expressions...|   38.6|       4|     0.0|   11.58|
|  1127|US-2011-147627|2013-01-20|2013-01-26|Standard Class|   HL-15040|     Hunter Lopez|   Consumer|United States|      Jonesboro|      Arkansas|      72401|  South|FUR-CH-10002331|Furniture|      Chairs|Hon 4700 Series M...|1067.94|       3|     0.0|224.2674|
|  5738|CA-2011-148614|2013-01-20|2013-01-25|Standard Class|   MV-17485|    Mark Van Huff|   Consumer|United States|    Los Angeles|    California|      90049|   West|FUR-FU-10003194|Furniture| Furnishings|Eldon Expressions...|   19.3|       2|     0.0|    5.79|
|  6328|CA-2011-167927|2013-01-20|2013-01-26|Standard Class|   XP-21865|     Xylona Preis|   Consumer|United States|       Westland|      Michigan|      48185|Central|FUR-FU-10002918|Furniture| Furnishings|Eldon ClusterMat ...| 272.94|       3|     0.0| 30.0234|
|  6333|CA-2011-167927|2013-01-20|2013-01-26|Standard Class|   XP-21865|     Xylona Preis|   Consumer|United States|       Westland|      Michigan|      48185|Central|FUR-FU-10002268|Furniture| Furnishings|Ultra Door Push P...|  14.73|       3|     0.0|  4.8609|
|  9990|CA-2011-110422|2013-01-21|2013-01-23|  Second Class|   TB-21400| Tom Boeckenhauer|   Consumer|United States|          Miami|       Florida|      33180|  South|FUR-FU-10001889|Furniture| Furnishings|Ultra Door Pull H...| 25.248|       3|     0.2|  4.1028|
|  2579|US-2011-155502|2013-01-26|2013-01-31|Standard Class|   SD-20485|  Shirley Daniels|Home Office|United States|     Alexandria|      Virginia|      22304|  South|FUR-FU-10004587|Furniture| Furnishings|GE General Use Ha...|  62.82|       3|     0.0| 30.7818|
|  2584|US-2011-155502|2013-01-26|2013-01-31|Standard Class|   SD-20485|  Shirley Daniels|Home Office|United States|     Alexandria|      Virginia|      22304|  South|FUR-FU-10001847|Furniture| Furnishings|Eldon Image Serie...|  12.42|       3|     0.0|  4.4712|
|  8151|CA-2011-167997|2013-01-26|2013-01-29|   First Class|   CA-11965|      Carol Adams|  Corporate|United States|     Rapid City|  South Dakota|      57701|Central|FUR-BO-10004409|Furniture|   Bookcases|Safco Value Mate ...| 141.96|       2|     0.0| 39.7488|
|  3366|CA-2011-115161|2013-01-31|2013-02-02|   First Class|   LC-17050|     Liz Carlisle|   Consumer|United States|  Mission Viejo|    California|      92691|   West|FUR-BO-10003966|Furniture|   Bookcases|Sauder Facets Col...|290.666|       2|    0.15|  3.4196|
|  9267|CA-2011-125759|2013-02-08|2013-02-09|   First Class|   NM-18445|     Nathan Mautz|Home Office|United States|North Las Vegas|        Nevada|      89031|   West|FUR-FU-10002111|Furniture| Furnishings|Master Caster Doo...|  14.56|       2|     0.0|  5.5328|
|  5632|CA-2011-127614|2013-02-11|2013-02-15|Standard Class|   NF-18385| Natalie Fritzler|   Consumer|United States|     Chesapeake|      Virginia|      23320|  South|FUR-TA-10003715|Furniture|      Tables|Hon 2111 Invitati...|1256.22|       6|     0.0| 75.3732|
|  9255|CA-2011-168368|2013-02-11|2013-02-15|  Second Class|   GA-14725|    Guy Armstrong|   Consumer|United States|       Columbia|      Missouri|      65203|Central|FUR-CH-10001146|Furniture|      Chairs|Global Value Mid-...|  60.89|       1|     0.0| 15.2225|
|  4522|CA-2011-109491|2013-02-20|2013-02-26|Standard Class|   LC-16930|   Linda Cazamias|  Corporate|United States|       Richmond|       Indiana|      47374|Central|FUR-FU-10000221|Furniture| Furnishings|Master Caster Doo...|  20.32|       4|     0.0|  6.9088|
+------+--------------+----------+----------+--------------+-----------+-----------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------+------------+--------------------+-------+--------+--------+--------+
only showing top 20 rows

In [21]:
df.select('Category','Profit').where((df['Profit']>0) & (df['Category']=='Furniture')).show()

+---------+--------+
| Category|  Profit|
+---------+--------+
|Furniture|746.4078|
|Furniture| 21.2954|
|Furniture|  3.0814|
|Furniture| 87.3504|
|Furniture|  3.9294|
|Furniture| 28.5984|
|Furniture|   11.58|
|Furniture|224.2674|
|Furniture|    5.79|
|Furniture| 30.0234|
|Furniture|  4.8609|
|Furniture|  4.1028|
|Furniture| 30.7818|
|Furniture|  4.4712|
|Furniture| 39.7488|
|Furniture|  3.4196|
|Furniture|  5.5328|
|Furniture| 75.3732|
|Furniture| 15.2225|
|Furniture|  6.9088|
+---------+--------+
only showing top 20 rows

In [22]:
df.groupby('Category').pivot('Ship Mode').sum('Sales').show()

+---------------+------------------+------------------+------------------+------------------+
|       Category|       First Class|          Same Day|      Second Class|    Standard Class|
+---------------+------------------+------------------+------------------+------------------+
|Office Supplies|100363.32669895887|28677.190974771976| 156072.4273135662| 418389.9823831916|
|      Furniture|109780.70851480961| 38571.72482395172| 155119.8080227375| 429574.6182847023|
|     Technology|139350.81040596962|60104.048464775085|142149.61347794533|494295.59251487255|
+---------------+------------------+------------------+------------------+------------------+

In [23]:
df.groupby('Category').pivot('Ship Mode').agg(round(sum('Sales'),2)).show()

+---------------+-----------+--------+------------+--------------+
|       Category|First Class|Same Day|Second Class|Standard Class|
+---------------+-----------+--------+------------+--------------+
|Office Supplies|  100363.33|28677.19|   156072.43|     418389.98|
|      Furniture|  109780.71|38571.72|   155119.81|     429574.62|
|     Technology|  139350.81|60104.05|   142149.61|     494295.59|
+---------------+-----------+--------+------------+--------------+

In [24]:
df_pivot = df.groupby('Category').pivot('Ship Mode').agg(round(sum('Sales'),2))
df_pivot.show()

+---------------+-----------+--------+------------+--------------+
|       Category|First Class|Same Day|Second Class|Standard Class|
+---------------+-----------+--------+------------+--------------+
|Office Supplies|  100363.33|28677.19|   156072.43|     418389.98|
|      Furniture|  109780.71|38571.72|   155119.81|     429574.62|
|     Technology|  139350.81|60104.05|   142149.61|     494295.59|
+---------------+-----------+--------+------------+--------------+

In [25]:
df_pivot.unpivot(['Category'],['First Class','Same Day','Second Class','Standard Class'],'Category','Ship Mode').show()

+---------------+--------------+---------+
|       Category|      Category|Ship Mode|
+---------------+--------------+---------+
|Office Supplies|   First Class|100363.33|
|Office Supplies|      Same Day| 28677.19|
|Office Supplies|  Second Class|156072.43|
|Office Supplies|Standard Class|418389.98|
|      Furniture|   First Class|109780.71|
|      Furniture|      Same Day| 38571.72|
|      Furniture|  Second Class|155119.81|
|      Furniture|Standard Class|429574.62|
|     Technology|   First Class|139350.81|
|     Technology|      Same Day| 60104.05|
|     Technology|  Second Class|142149.61|
|     Technology|Standard Class|494295.59|
+---------------+--------------+---------+

In [26]:
df.select('Category').distinct().show()

+---------------+
|       Category|
+---------------+
|Office Supplies|
|      Furniture|
|     Technology|
+---------------+

In [27]:
df.select('Category').distinct().toPandas()

          Category
0  Office Supplies
1        Furniture
2       Technology

In [28]:
list(df.select('Category').distinct().toPandas()['Category'])

['Office Supplies', 'Furniture', 'Technology']

In [29]:
df_pivot.unpivot(['Category'],list(df.select('Ship Mode').distinct().toPandas()['Ship Mode']),'Category','Ship Mode').show()

+---------------+--------------+---------+
|       Category|      Category|Ship Mode|
+---------------+--------------+---------+
|Office Supplies|   First Class|100363.33|
|Office Supplies|      Same Day| 28677.19|
|Office Supplies|  Second Class|156072.43|
|Office Supplies|Standard Class|418389.98|
|      Furniture|   First Class|109780.71|
|      Furniture|      Same Day| 38571.72|
|      Furniture|  Second Class|155119.81|
|      Furniture|Standard Class|429574.62|
|     Technology|   First Class|139350.81|
|     Technology|      Same Day| 60104.05|
|     Technology|  Second Class|142149.61|
|     Technology|Standard Class|494295.59|
+---------------+--------------+---------+

In [30]:
df.show()

+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|      Country|        City|       State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
| 79814|CA-2011-103800|2013-01-03|2013-01-07|Standard Class|   DP-13000|   Darren Powers|   Consumer|United States|     Houston|       Texas|      77095|Central|OFF-PA-10000174|Office Supplies|       Paper|"Message Book, Wi...|   null|      16|     2.0|     0.2|
|   740|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-LA-10003223|Office Supplies|      Labels|           Avery 508| 11.784|       3|     0.2|  4.2717|
|   741|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-ST-10002743|Office Supplies|     Storage|SAFCO Boltless St...|272.736|       3|     0.2|-64.7748|
|   742|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-BI-10004094|Office Supplies|     Binders|GBC Standard Plas...|   3.54|       2|     0.8|  -5.487|
|  1760|CA-2011-141817|2013-01-05|2013-01-12|Standard Class|   MB-18085|      Mick Brown|   Consumer|United States|Philadelphia|Pennsylvania|      19143|   East|OFF-AR-10003478|Office Supplies|         Art|Avery Hi-Liter Ev...| 19.536|       3|     0.2|   4.884|
|  5328|CA-2011-130813|2013-01-06|2013-01-08|  Second Class|   LS-17230|Lycoris Saunders|   Consumer|United States| Los Angeles|  California|      90049|   West|OFF-PA-10002005|Office Supplies|       Paper|           Xerox 225|  19.44|       3|     0.0|  9.3312|
|  7181|CA-2011-106054|2013-01-06|2013-01-07|   First Class|   JO-15145|   Jack O'Briant|  Corporate|United States|      Athens|     Georgia|      30605|  South|OFF-AR-10002399|Office Supplies|         Art|Dixon Prang Water...|  12.78|       3|     0.0|  5.2398|
|  7475|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|FUR-CH-10004063|      Furniture|      Chairs|Global Deluxe Hig...|2573.82|       9|     0.0|746.4078|
|  7476|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-BI-10004632|Office Supplies|     Binders|Ibico Hi-Tech Man...| 609.98|       2|     0.0| 274.491|
|  7477|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-AR-10001662|Office Supplies|         Art|Rogers Handheld B...|   5.48|       2|     0.0|  1.4796|
|  7478|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004977|     Technology|      Phones|         GE 30524EE4| 391.98|       2|     0.0|113.6742|
|  7479|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004539|     Technology|      Phones|Wireless Extender...| 755.96|       4|     0.0|204.1092|
|  7480|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-FA-10001883|Office Supplies|   Fasteners|Alliance Super-Si...|  31.12|       4|     0.0|  0.3112|
|  7481|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-PA-10000955|Office Supplies|       Paper|Southworth 25% Co...|   6.54|       1|     0.0|  3.0084|
|  7661|CA-2011-105417|2013-01-07|2013-01-12|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|FUR-FU-10004864|      Furniture| Furnishings|"Howard Miller 14...| 76.728|       3|     0.6|-53.7096|
|  7662|CA-2011-105417|2013-01-07|2013-01-12|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|OFF-BI-10003708|Office Supplies|     Binders|Acco Four Pocket ...|  10.43|       7|     0.8|-18.2525|
|   593|CA-2011-135405|2013-01-09|2013-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|OFF-AR-10004078|Office Supplies|         Art|          Newell 312|  9.344|       2|     0.2|   1.168|
|   594|CA-2011-135405|2013-01-09|2013-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|TEC-AC-10001266|     Technology| Accessories|Memorex Micro Tra...|   31.2|       3|     0.2|    9.75|
|   866|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|OFF-LA-10004272|Office Supplies|      Labels|           Avery 482|   2.89|       1|     0.0|  1.3583|
|   867|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|FUR-FU-10000965|      Furniture| Furnishings|"Howard Miller 11...|  51.94|       1|     0.0| 21.2954|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
only showing top 20 rows

In [31]:
df.select('Sales','Quantity').withColumn('Revenue', df.Sales * df.Quantity).show()

+-------+--------+---------+
|  Sales|Quantity|  Revenue|
+-------+--------+---------+
|   null|      16|     null|
| 11.784|       3|   35.352|
|272.736|       3|  818.208|
|   3.54|       2|     7.08|
| 19.536|       3|58.607998|
|  19.44|       3|    58.32|
|  12.78|       3|    38.34|
|2573.82|       9| 23164.38|
| 609.98|       2|  1219.96|
|   5.48|       2|    10.96|
| 391.98|       2|   783.96|
| 755.96|       4|  3023.84|
|  31.12|       4|   124.48|
|   6.54|       1|     6.54|
| 76.728|       3|230.18399|
|  10.43|       7|    73.01|
|  9.344|       2|   18.688|
|   31.2|       3|93.600006|
|   2.89|       1|     2.89|
|  51.94|       1|    51.94|
+-------+--------+---------+
only showing top 20 rows

In [32]:
df.createOrReplaceTempView('df_sql')

In [33]:
spark.sql('select * from df_sql').show()

+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|      Country|        City|       State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
| 79814|CA-2011-103800|2013-01-03|2013-01-07|Standard Class|   DP-13000|   Darren Powers|   Consumer|United States|     Houston|       Texas|      77095|Central|OFF-PA-10000174|Office Supplies|       Paper|"Message Book, Wi...|   null|      16|     2.0|     0.2|
|   740|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-LA-10003223|Office Supplies|      Labels|           Avery 508| 11.784|       3|     0.2|  4.2717|
|   741|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-ST-10002743|Office Supplies|     Storage|SAFCO Boltless St...|272.736|       3|     0.2|-64.7748|
|   742|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-BI-10004094|Office Supplies|     Binders|GBC Standard Plas...|   3.54|       2|     0.8|  -5.487|
|  1760|CA-2011-141817|2013-01-05|2013-01-12|Standard Class|   MB-18085|      Mick Brown|   Consumer|United States|Philadelphia|Pennsylvania|      19143|   East|OFF-AR-10003478|Office Supplies|         Art|Avery Hi-Liter Ev...| 19.536|       3|     0.2|   4.884|
|  5328|CA-2011-130813|2013-01-06|2013-01-08|  Second Class|   LS-17230|Lycoris Saunders|   Consumer|United States| Los Angeles|  California|      90049|   West|OFF-PA-10002005|Office Supplies|       Paper|           Xerox 225|  19.44|       3|     0.0|  9.3312|
|  7181|CA-2011-106054|2013-01-06|2013-01-07|   First Class|   JO-15145|   Jack O'Briant|  Corporate|United States|      Athens|     Georgia|      30605|  South|OFF-AR-10002399|Office Supplies|         Art|Dixon Prang Water...|  12.78|       3|     0.0|  5.2398|
|  7475|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|FUR-CH-10004063|      Furniture|      Chairs|Global Deluxe Hig...|2573.82|       9|     0.0|746.4078|
|  7476|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-BI-10004632|Office Supplies|     Binders|Ibico Hi-Tech Man...| 609.98|       2|     0.0| 274.491|
|  7477|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-AR-10001662|Office Supplies|         Art|Rogers Handheld B...|   5.48|       2|     0.0|  1.4796|
|  7478|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004977|     Technology|      Phones|         GE 30524EE4| 391.98|       2|     0.0|113.6742|
|  7479|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004539|     Technology|      Phones|Wireless Extender...| 755.96|       4|     0.0|204.1092|
|  7480|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-FA-10001883|Office Supplies|   Fasteners|Alliance Super-Si...|  31.12|       4|     0.0|  0.3112|
|  7481|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-PA-10000955|Office Supplies|       Paper|Southworth 25% Co...|   6.54|       1|     0.0|  3.0084|
|  7661|CA-2011-105417|2013-01-07|2013-01-12|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|FUR-FU-10004864|      Furniture| Furnishings|"Howard Miller 14...| 76.728|       3|     0.6|-53.7096|
|  7662|CA-2011-105417|2013-01-07|2013-01-12|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|OFF-BI-10003708|Office Supplies|     Binders|Acco Four Pocket ...|  10.43|       7|     0.8|-18.2525|
|   593|CA-2011-135405|2013-01-09|2013-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|OFF-AR-10004078|Office Supplies|         Art|          Newell 312|  9.344|       2|     0.2|   1.168|
|   594|CA-2011-135405|2013-01-09|2013-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|TEC-AC-10001266|     Technology| Accessories|Memorex Micro Tra...|   31.2|       3|     0.2|    9.75|
|   866|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|OFF-LA-10004272|Office Supplies|      Labels|           Avery 482|   2.89|       1|     0.0|  1.3583|
|   867|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|FUR-FU-10000965|      Furniture| Furnishings|"Howard Miller 11...|  51.94|       1|     0.0| 21.2954|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+
only showing top 20 rows

In [34]:
spark.sql("select category, round(sum(sales),2) as sum_sales from df_sql group by category").show()

+---------------+---------+
|       category|sum_sales|
+---------------+---------+
|Office Supplies|703502.93|
|      Furniture|733046.86|
|     Technology|835900.06|
+---------------+---------+

In [35]:
from pyspark.sql.functions import concat, lit

In [36]:
df.select('Category','Sub-Category').withColumn('Category + Sub-Category', concat(df.Category, lit(' + '), df['Sub-Category'])).show(truncate=False)

+---------------+------------+---------------------------+
|Category       |Sub-Category|Category + Sub-Category    |
+---------------+------------+---------------------------+
|Office Supplies|Paper       |Office Supplies + Paper    |
|Office Supplies|Labels      |Office Supplies + Labels   |
|Office Supplies|Storage     |Office Supplies + Storage  |
|Office Supplies|Binders     |Office Supplies + Binders  |
|Office Supplies|Art         |Office Supplies + Art      |
|Office Supplies|Paper       |Office Supplies + Paper    |
|Office Supplies|Art         |Office Supplies + Art      |
|Furniture      |Chairs      |Furniture + Chairs         |
|Office Supplies|Binders     |Office Supplies + Binders  |
|Office Supplies|Art         |Office Supplies + Art      |
|Technology     |Phones      |Technology + Phones        |
|Technology     |Phones      |Technology + Phones        |
|Office Supplies|Fasteners   |Office Supplies + Fasteners|
|Office Supplies|Paper       |Office Supplies + Paper    |
|Furniture      |Furnishings |Furniture + Furnishings    |
|Office Supplies|Binders     |Office Supplies + Binders  |
|Office Supplies|Art         |Office Supplies + Art      |
|Technology     |Accessories |Technology + Accessories   |
|Office Supplies|Labels      |Office Supplies + Labels   |
|Furniture      |Furnishings |Furniture + Furnishings    |
+---------------+------------+---------------------------+
only showing top 20 rows

In [37]:
from pyspark.sql.functions import year, month

In [38]:
df.select('Order Date').withColumn('Year of OD', year(df['Order Date'])).show()

+----------+----------+
|Order Date|Year of OD|
+----------+----------+
|2013-01-03|      2013|
|2013-01-04|      2013|
|2013-01-04|      2013|
|2013-01-04|      2013|
|2013-01-05|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-07|      2013|
|2013-01-07|      2013|
|2013-01-09|      2013|
|2013-01-09|      2013|
|2013-01-10|      2013|
|2013-01-10|      2013|
+----------+----------+
only showing top 20 rows

In [39]:
df.select('Order Date').withColumn('Year of OD', month(df['Order Date'])).show()

+----------+----------+
|Order Date|Year of OD|
+----------+----------+
|2013-01-03|         1|
|2013-01-04|         1|
|2013-01-04|         1|
|2013-01-04|         1|
|2013-01-05|         1|
|2013-01-06|         1|
|2013-01-06|         1|
|2013-01-06|         1|
|2013-01-06|         1|
|2013-01-06|         1|
|2013-01-06|         1|
|2013-01-06|         1|
|2013-01-06|         1|
|2013-01-06|         1|
|2013-01-07|         1|
|2013-01-07|         1|
|2013-01-09|         1|
|2013-01-09|         1|
|2013-01-10|         1|
|2013-01-10|         1|
+----------+----------+
only showing top 20 rows

In [40]:
df.select('Order Date').withColumn('Month of OD',date_format('Order Date','MMM')).show()

+----------+-----------+
|Order Date|Month of OD|
+----------+-----------+
|2013-01-03|        Jan|
|2013-01-04|        Jan|
|2013-01-04|        Jan|
|2013-01-04|        Jan|
|2013-01-05|        Jan|
|2013-01-06|        Jan|
|2013-01-06|        Jan|
|2013-01-06|        Jan|
|2013-01-06|        Jan|
|2013-01-06|        Jan|
|2013-01-06|        Jan|
|2013-01-06|        Jan|
|2013-01-06|        Jan|
|2013-01-06|        Jan|
|2013-01-07|        Jan|
|2013-01-07|        Jan|
|2013-01-09|        Jan|
|2013-01-09|        Jan|
|2013-01-10|        Jan|
|2013-01-10|        Jan|
+----------+-----------+
only showing top 20 rows

In [41]:
df.select('Order Date').withColumn('Year of OD',date_format('Order Date','yyyy')).show()

+----------+----------+
|Order Date|Year of OD|
+----------+----------+
|2013-01-03|      2013|
|2013-01-04|      2013|
|2013-01-04|      2013|
|2013-01-04|      2013|
|2013-01-05|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-06|      2013|
|2013-01-07|      2013|
|2013-01-07|      2013|
|2013-01-09|      2013|
|2013-01-09|      2013|
|2013-01-10|      2013|
|2013-01-10|      2013|
+----------+----------+
only showing top 20 rows

In [42]:
df = df.withColumn('Month of OD',date_format('Order Date','MMM'))
df = df.withColumn('Year of OD',date_format('Order Date','yyyy'))
df = df.withColumn('Month no of OD',date_format('Order Date','MM'))
df.show()

+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+-----------+----------+--------------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|      Country|        City|       State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|Month of OD|Year of OD|Month no of OD|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+-----------+----------+--------------+
| 79814|CA-2011-103800|2013-01-03|2013-01-07|Standard Class|   DP-13000|   Darren Powers|   Consumer|United States|     Houston|       Texas|      77095|Central|OFF-PA-10000174|Office Supplies|       Paper|"Message Book, Wi...|   null|      16|     2.0|     0.2|        Jan|      2013|            01|
|   740|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-LA-10003223|Office Supplies|      Labels|           Avery 508| 11.784|       3|     0.2|  4.2717|        Jan|      2013|            01|
|   741|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-ST-10002743|Office Supplies|     Storage|SAFCO Boltless St...|272.736|       3|     0.2|-64.7748|        Jan|      2013|            01|
|   742|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-BI-10004094|Office Supplies|     Binders|GBC Standard Plas...|   3.54|       2|     0.8|  -5.487|        Jan|      2013|            01|
|  1760|CA-2011-141817|2013-01-05|2013-01-12|Standard Class|   MB-18085|      Mick Brown|   Consumer|United States|Philadelphia|Pennsylvania|      19143|   East|OFF-AR-10003478|Office Supplies|         Art|Avery Hi-Liter Ev...| 19.536|       3|     0.2|   4.884|        Jan|      2013|            01|
|  5328|CA-2011-130813|2013-01-06|2013-01-08|  Second Class|   LS-17230|Lycoris Saunders|   Consumer|United States| Los Angeles|  California|      90049|   West|OFF-PA-10002005|Office Supplies|       Paper|           Xerox 225|  19.44|       3|     0.0|  9.3312|        Jan|      2013|            01|
|  7181|CA-2011-106054|2013-01-06|2013-01-07|   First Class|   JO-15145|   Jack O'Briant|  Corporate|United States|      Athens|     Georgia|      30605|  South|OFF-AR-10002399|Office Supplies|         Art|Dixon Prang Water...|  12.78|       3|     0.0|  5.2398|        Jan|      2013|            01|
|  7475|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|FUR-CH-10004063|      Furniture|      Chairs|Global Deluxe Hig...|2573.82|       9|     0.0|746.4078|        Jan|      2013|            01|
|  7476|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-BI-10004632|Office Supplies|     Binders|Ibico Hi-Tech Man...| 609.98|       2|     0.0| 274.491|        Jan|      2013|            01|
|  7477|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-AR-10001662|Office Supplies|         Art|Rogers Handheld B...|   5.48|       2|     0.0|  1.4796|        Jan|      2013|            01|
|  7478|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004977|     Technology|      Phones|         GE 30524EE4| 391.98|       2|     0.0|113.6742|        Jan|      2013|            01|
|  7479|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004539|     Technology|      Phones|Wireless Extender...| 755.96|       4|     0.0|204.1092|        Jan|      2013|            01|
|  7480|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-FA-10001883|Office Supplies|   Fasteners|Alliance Super-Si...|  31.12|       4|     0.0|  0.3112|        Jan|      2013|            01|
|  7481|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-PA-10000955|Office Supplies|       Paper|Southworth 25% Co...|   6.54|       1|     0.0|  3.0084|        Jan|      2013|            01|
|  7661|CA-2011-105417|2013-01-07|2013-01-12|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|FUR-FU-10004864|      Furniture| Furnishings|"Howard Miller 14...| 76.728|       3|     0.6|-53.7096|        Jan|      2013|            01|
|  7662|CA-2011-105417|2013-01-07|2013-01-12|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|OFF-BI-10003708|Office Supplies|     Binders|Acco Four Pocket ...|  10.43|       7|     0.8|-18.2525|        Jan|      2013|            01|
|   593|CA-2011-135405|2013-01-09|2013-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|OFF-AR-10004078|Office Supplies|         Art|          Newell 312|  9.344|       2|     0.2|   1.168|        Jan|      2013|            01|
|   594|CA-2011-135405|2013-01-09|2013-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|TEC-AC-10001266|     Technology| Accessories|Memorex Micro Tra...|   31.2|       3|     0.2|    9.75|        Jan|      2013|            01|
|   866|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|OFF-LA-10004272|Office Supplies|      Labels|           Avery 482|   2.89|       1|     0.0|  1.3583|        Jan|      2013|            01|
|   867|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|FUR-FU-10000965|      Furniture| Furnishings|"Howard Miller 11...|  51.94|       1|     0.0| 21.2954|        Jan|      2013|            01|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+-----------+----------+--------------+
only showing top 20 rows

In [43]:
# df = df.drop('Month no of OD')

In [44]:
df.show()

+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+-----------+----------+--------------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|      Country|        City|       State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount|  Profit|Month of OD|Year of OD|Month no of OD|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+-----------+----------+--------------+
| 79814|CA-2011-103800|2013-01-03|2013-01-07|Standard Class|   DP-13000|   Darren Powers|   Consumer|United States|     Houston|       Texas|      77095|Central|OFF-PA-10000174|Office Supplies|       Paper|"Message Book, Wi...|   null|      16|     2.0|     0.2|        Jan|      2013|            01|
|   740|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-LA-10003223|Office Supplies|      Labels|           Avery 508| 11.784|       3|     0.2|  4.2717|        Jan|      2013|            01|
|   741|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-ST-10002743|Office Supplies|     Storage|SAFCO Boltless St...|272.736|       3|     0.2|-64.7748|        Jan|      2013|            01|
|   742|CA-2011-112326|2013-01-04|2013-01-08|Standard Class|   PO-19195|   Phillina Ober|Home Office|United States|  Naperville|    Illinois|      60540|Central|OFF-BI-10004094|Office Supplies|     Binders|GBC Standard Plas...|   3.54|       2|     0.8|  -5.487|        Jan|      2013|            01|
|  1760|CA-2011-141817|2013-01-05|2013-01-12|Standard Class|   MB-18085|      Mick Brown|   Consumer|United States|Philadelphia|Pennsylvania|      19143|   East|OFF-AR-10003478|Office Supplies|         Art|Avery Hi-Liter Ev...| 19.536|       3|     0.2|   4.884|        Jan|      2013|            01|
|  5328|CA-2011-130813|2013-01-06|2013-01-08|  Second Class|   LS-17230|Lycoris Saunders|   Consumer|United States| Los Angeles|  California|      90049|   West|OFF-PA-10002005|Office Supplies|       Paper|           Xerox 225|  19.44|       3|     0.0|  9.3312|        Jan|      2013|            01|
|  7181|CA-2011-106054|2013-01-06|2013-01-07|   First Class|   JO-15145|   Jack O'Briant|  Corporate|United States|      Athens|     Georgia|      30605|  South|OFF-AR-10002399|Office Supplies|         Art|Dixon Prang Water...|  12.78|       3|     0.0|  5.2398|        Jan|      2013|            01|
|  7475|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|FUR-CH-10004063|      Furniture|      Chairs|Global Deluxe Hig...|2573.82|       9|     0.0|746.4078|        Jan|      2013|            01|
|  7476|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-BI-10004632|Office Supplies|     Binders|Ibico Hi-Tech Man...| 609.98|       2|     0.0| 274.491|        Jan|      2013|            01|
|  7477|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-AR-10001662|Office Supplies|         Art|Rogers Handheld B...|   5.48|       2|     0.0|  1.4796|        Jan|      2013|            01|
|  7478|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004977|     Technology|      Phones|         GE 30524EE4| 391.98|       2|     0.0|113.6742|        Jan|      2013|            01|
|  7479|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|TEC-PH-10004539|     Technology|      Phones|Wireless Extender...| 755.96|       4|     0.0|204.1092|        Jan|      2013|            01|
|  7480|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-FA-10001883|Office Supplies|   Fasteners|Alliance Super-Si...|  31.12|       4|     0.0|  0.3112|        Jan|      2013|            01|
|  7481|CA-2011-167199|2013-01-06|2013-01-10|Standard Class|   ME-17320|   Maria Etezadi|Home Office|United States|   Henderson|    Kentucky|      42420|  South|OFF-PA-10000955|Office Supplies|       Paper|Southworth 25% Co...|   6.54|       1|     0.0|  3.0084|        Jan|      2013|            01|
|  7661|CA-2011-105417|2013-01-07|2013-01-12|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|FUR-FU-10004864|      Furniture| Furnishings|"Howard Miller 14...| 76.728|       3|     0.6|-53.7096|        Jan|      2013|            01|
|  7662|CA-2011-105417|2013-01-07|2013-01-12|Standard Class|   VS-21820|Vivek Sundaresam|   Consumer|United States|  Huntsville|       Texas|      77340|Central|OFF-BI-10003708|Office Supplies|     Binders|Acco Four Pocket ...|  10.43|       7|     0.8|-18.2525|        Jan|      2013|            01|
|   593|CA-2011-135405|2013-01-09|2013-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|OFF-AR-10004078|Office Supplies|         Art|          Newell 312|  9.344|       2|     0.2|   1.168|        Jan|      2013|            01|
|   594|CA-2011-135405|2013-01-09|2013-01-13|Standard Class|   MS-17830|   Melanie Seite|   Consumer|United States|      Laredo|       Texas|      78041|Central|TEC-AC-10001266|     Technology| Accessories|Memorex Micro Tra...|   31.2|       3|     0.2|    9.75|        Jan|      2013|            01|
|   866|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|OFF-LA-10004272|Office Supplies|      Labels|           Avery 482|   2.89|       1|     0.0|  1.3583|        Jan|      2013|            01|
|   867|CA-2011-149020|2013-01-10|2013-01-15|Standard Class|   AJ-10780|  Anthony Jacobs|  Corporate|United States| Springfield|    Virginia|      22153|  South|FUR-FU-10000965|      Furniture| Furnishings|"Howard Miller 11...|  51.94|       1|     0.0| 21.2954|        Jan|      2013|            01|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-------+--------+--------+--------+-----------+----------+--------------+
only showing top 20 rows

In [45]:
df.groupby('Month of OD').pivot('Year of OD').agg(round(avg('Sales'),2)).sort('Month of OD').show()

+-----------+------+------+------+------+
|Month of OD|  2013|  2014|  2015|  2016|
+-----------+------+------+------+------+
|        Apr|213.18| 207.9|239.79|181.01|
|        Aug|184.02|233.21|189.51|295.49|
|        Dec|254.14|239.48|284.01|184.61|
|        Feb| 95.81|192.33|282.44|194.83|
|        Jan|191.37|317.28|209.46|282.23|
|        Jul|244.53|209.74|197.35|205.03|
|        Jun|259.47|184.03|199.56|223.26|
|        Mar|360.56|288.22| 320.4|253.19|
|        May|195.33|209.47| 260.0|187.64|
|        Nov|251.76|238.66|223.27|263.19|
|        Oct|203.86|191.35|303.28|269.24|
|        Sep|311.06|226.71|206.21|195.23|
+-----------+------+------+------+------+

In [46]:
df.groupby('Year of OD').pivot('Month of OD').agg(round(avg('Sales'),2)).sort('Year of OD').show()

+----------+------+------+------+------+------+------+------+------+------+------+------+------+
|Year of OD|   Apr|   Aug|   Dec|   Feb|   Jan|   Jul|   Jun|   Mar|   May|   Nov|   Oct|   Sep|
+----------+------+------+------+------+------+------+------+------+------+------+------+------+
|      2013|213.18|184.02|254.14| 95.81|191.37|244.53|259.47|360.56|195.33|251.76|203.86|311.06|
|      2014| 207.9|233.21|239.48|192.33|317.28|209.74|184.03|288.22|209.47|238.66|191.35|226.71|
|      2015|239.79|189.51|284.01|282.44|209.46|197.35|199.56| 320.4| 260.0|223.27|303.28|206.21|
|      2016|181.01|295.49|184.61|194.83|282.23|205.03|223.26|253.19|187.64|263.19|269.24|195.23|
+----------+------+------+------+------+------+------+------+------+------+------+------+------+

In [47]:
df.groupby('Month of OD','Month no of OD').pivot('Year of OD').agg(round(avg('Sales'),2)).sort('Month no of OD').show()

+-----------+--------------+------+------+------+------+
|Month of OD|Month no of OD|  2013|  2014|  2015|  2016|
+-----------+--------------+------+------+------+------+
|        Jan|            01|191.37|317.28|209.46|282.23|
|        Feb|            02| 95.81|192.33|282.44|194.83|
|        Mar|            03|360.56|288.22| 320.4|253.19|
|        Apr|            04|213.18| 207.9|239.79|181.01|
|        May|            05|195.33|209.47| 260.0|187.64|
|        Jun|            06|259.47|184.03|199.56|223.26|
|        Jul|            07|244.53|209.74|197.35|205.03|
|        Aug|            08|184.02|233.21|189.51|295.49|
|        Sep|            09|311.06|226.71|206.21|195.23|
|        Oct|            10|203.86|191.35|303.28|269.24|
|        Nov|            11|251.76|238.66|223.27|263.19|
|        Dec|            12|254.14|239.48|284.01|184.61|
+-----------+--------------+------+------+------+------+

In [48]:
df.groupby('Month of OD','Month no of OD').pivot('Year of OD').agg(round(avg('Sales'),2)).sort('Month no of OD', ascending=False).show()

+-----------+--------------+------+------+------+------+
|Month of OD|Month no of OD|  2013|  2014|  2015|  2016|
+-----------+--------------+------+------+------+------+
|        Dec|            12|254.14|239.48|284.01|184.61|
|        Nov|            11|251.76|238.66|223.27|263.19|
|        Oct|            10|203.86|191.35|303.28|269.24|
|        Sep|            09|311.06|226.71|206.21|195.23|
|        Aug|            08|184.02|233.21|189.51|295.49|
|        Jul|            07|244.53|209.74|197.35|205.03|
|        Jun|            06|259.47|184.03|199.56|223.26|
|        May|            05|195.33|209.47| 260.0|187.64|
|        Apr|            04|213.18| 207.9|239.79|181.01|
|        Mar|            03|360.56|288.22| 320.4|253.19|
|        Feb|            02| 95.81|192.33|282.44|194.83|
|        Jan|            01|191.37|317.28|209.46|282.23|
+-----------+--------------+------+------+------+------+

In [49]:
employees = spark.read.csv(r'C:\Users\Prashant230359\OneDrive - EXLService.com (I) Pvt. Ltd\Documents\My Data\MySQL\MySQL\CSV Files\employees.csv', header=True, inferSchema=True)
employees.show()

+------+----------+----------+-----------+------+----------+
|emp_no|birth_date|first_name|  last_name|gender| hire_date|
+------+----------+----------+-----------+------+----------+
| 10001|1953-09-02|    Georgi|    Facello|     M|1986-06-26|
| 10002|1964-06-02|   Bezalel|     Simmel|     F|1985-11-21|
| 10003|1959-12-03|     Parto|    Bamford|     M|1986-08-28|
| 10004|1954-05-01| Chirstian|    Koblick|     M|1986-12-01|
| 10005|1955-01-21|   Kyoichi|   Maliniak|     M|1989-09-12|
| 10006|1953-04-20|    Anneke|    Preusig|     F|1989-06-02|
| 10007|1957-05-23|   Tzvetan|  Zielinski|     F|1989-02-10|
| 10008|1958-02-19|    Saniya|   Kalloufi|     M|1994-09-15|
| 10009|1952-04-19|    Sumant|       Peac|     F|1985-02-18|
| 10010|1963-06-01| Duangkaew|   Piveteau|     F|1989-08-24|
| 10011|1953-11-07|      Mary|      Sluis|     F|1990-01-22|
| 10012|1960-10-04|  Patricio|  Bridgland|     M|1992-12-18|
| 10013|1963-06-07| Eberhardt|     Terkki|     M|1985-10-20|
| 10014|1956-02-12|     Berni|      Genin|     M|1987-03-11|
| 10015|1959-08-19|  Guoxiang|  Nooteboom|     M|1987-07-02|
| 10016|1961-05-02|  Kazuhito|Cappelletti|     M|1995-01-27|
| 10017|1958-07-06| Cristinel|  Bouloucos|     F|1993-08-03|
| 10018|1954-06-19|  Kazuhide|       Peha|     F|1987-04-03|
| 10019|1953-01-23|   Lillian|    Haddadi|     M|1999-04-30|
| 10020|1952-12-24|    Mayuko|    Warwick|     M|1991-01-26|
+------+----------+----------+-----------+------+----------+
only showing top 20 rows

In [50]:
salaries = spark.read.csv(r'C:\Users\Prashant230359\OneDrive - EXLService.com (I) Pvt. Ltd\Documents\My Data\MySQL\MySQL\CSV Files\salaries.csv', header=True, inferSchema=True)
salaries.show()

+------+------+----------+----------+
|emp_no|salary| from_date|   to_date|
+------+------+----------+----------+
| 10001| 60117|1986-06-26|1987-06-26|
| 10001| 62102|1987-06-26|1988-06-25|
| 10001| 66074|1988-06-25|1989-06-25|
| 10001| 66596|1989-06-25|1990-06-25|
| 10001| 66961|1990-06-25|1991-06-25|
| 10001| 71046|1991-06-25|1992-06-24|
| 10001| 74333|1992-06-24|1993-06-24|
| 10001| 75286|1993-06-24|1994-06-24|
| 10001| 75994|1994-06-24|1995-06-24|
| 10001| 76884|1995-06-24|1996-06-23|
| 10001| 80013|1996-06-23|1997-06-23|
| 10001| 81025|1997-06-23|1998-06-23|
| 10001| 81097|1998-06-23|1999-06-23|
| 10001| 84917|1999-06-23|2000-06-22|
| 10001| 85112|2000-06-22|2001-06-22|
| 10001| 85097|2001-06-22|2002-06-22|
| 10001| 88958|2002-06-22|9999-01-01|
| 10002| 65828|1996-08-03|1997-08-03|
| 10002| 65909|1997-08-03|1998-08-03|
| 10002| 67534|1998-08-03|1999-08-03|
+------+------+----------+----------+
only showing top 20 rows

In [51]:
departments = spark.read.csv(r'C:\Users\Prashant230359\OneDrive - EXLService.com (I) Pvt. Ltd\Documents\My Data\MySQL\MySQL\CSV Files\departments.csv', header=True, inferSchema=True)
departments.show()

+-------+------------------+
|dept_no|         dept_name|
+-------+------------------+
|   d009|  Customer Service|
|   d005|       Development|
|   d002|           Finance|
|   d003|   Human Resources|
|   d001|         Marketing|
|   d004|        Production|
|   d006|Quality Management|
|   d008|          Research|
|   d007|             Sales|
+-------+------------------+

In [52]:
dept_emp = spark.read.csv(r'C:\Users\Prashant230359\OneDrive - EXLService.com (I) Pvt. Ltd\Documents\My Data\MySQL\MySQL\CSV Files\dept_emp.csv', header=True, inferSchema=True)
dept_emp.show()

+------+-------+----------+----------+
|emp_no|dept_no| from_date|   to_date|
+------+-------+----------+----------+
| 10001|   d005|1986-06-26|9999-01-01|
| 10002|   d007|1996-08-03|9999-01-01|
| 10003|   d004|1995-12-03|9999-01-01|
| 10004|   d004|1986-12-01|9999-01-01|
| 10005|   d003|1989-09-12|9999-01-01|
| 10006|   d005|1990-08-05|9999-01-01|
| 10007|   d008|1989-02-10|9999-01-01|
| 10008|   d005|1998-03-11|2000-07-31|
| 10009|   d006|1985-02-18|9999-01-01|
| 10010|   d004|1996-11-24|2000-06-26|
| 10010|   d006|2000-06-26|9999-01-01|
| 10011|   d009|1990-01-22|1996-11-09|
| 10012|   d005|1992-12-18|9999-01-01|
| 10013|   d003|1985-10-20|9999-01-01|
| 10014|   d005|1993-12-29|9999-01-01|
| 10015|   d008|1992-09-19|1993-08-22|
| 10016|   d007|1998-02-11|9999-01-01|
| 10017|   d001|1993-08-03|9999-01-01|
| 10018|   d004|1992-07-29|9999-01-01|
| 10018|   d005|1987-04-03|1992-07-29|
+------+-------+----------+----------+
only showing top 20 rows

In [53]:
dept_manager = spark.read.csv(r'C:\Users\Prashant230359\OneDrive - EXLService.com (I) Pvt. Ltd\Documents\My Data\MySQL\MySQL\CSV Files\dept_manager.csv', header=True, inferSchema=True)
dept_manager.show()

+------+-------+----------+----------+
|emp_no|dept_no| from_date|   to_date|
+------+-------+----------+----------+
|110022|   d001|1985-01-01|1991-10-01|
|110039|   d001|1991-10-01|9999-01-01|
|110085|   d002|1985-01-01|1989-12-17|
|110114|   d002|1989-12-17|9999-01-01|
|110183|   d003|1985-01-01|1992-03-21|
|110228|   d003|1992-03-21|9999-01-01|
|110303|   d004|1985-01-01|1988-09-09|
|110344|   d004|1988-09-09|1992-08-02|
|110386|   d004|1992-08-02|1996-08-30|
|110420|   d004|1996-08-30|9999-01-01|
|110511|   d005|1985-01-01|1992-04-25|
|110567|   d005|1992-04-25|9999-01-01|
|110725|   d006|1985-01-01|1989-05-06|
|110765|   d006|1989-05-06|1991-09-12|
|110800|   d006|1991-09-12|1994-06-28|
|110854|   d006|1994-06-28|9999-01-01|
|111035|   d007|1985-01-01|1991-03-07|
|111133|   d007|1991-03-07|9999-01-01|
|111400|   d008|1985-01-01|1991-04-08|
|111534|   d008|1991-04-08|9999-01-01|
+------+-------+----------+----------+
only showing top 20 rows

In [54]:
titles = spark.read.csv(r'C:\Users\Prashant230359\OneDrive - EXLService.com (I) Pvt. Ltd\Documents\My Data\MySQL\MySQL\CSV Files\titles.csv', header=True, inferSchema=True)
titles.show()

+------+------------------+----------+----------+
|emp_no|             title| from_date|   to_date|
+------+------------------+----------+----------+
| 10001|   Senior Engineer|1986-06-26|9999-01-01|
| 10002|             Staff|1996-08-03|9999-01-01|
| 10003|   Senior Engineer|1995-12-03|9999-01-01|
| 10004|          Engineer|1986-12-01|1995-12-01|
| 10004|   Senior Engineer|1995-12-01|9999-01-01|
| 10005|      Senior Staff|1996-09-12|9999-01-01|
| 10005|             Staff|1989-09-12|1996-09-12|
| 10006|   Senior Engineer|1990-08-05|9999-01-01|
| 10007|      Senior Staff|1996-02-11|9999-01-01|
| 10007|             Staff|1989-02-10|1996-02-11|
| 10008|Assistant Engineer|1998-03-11|2000-07-31|
| 10009|Assistant Engineer|1985-02-18|1990-02-18|
| 10009|          Engineer|1990-02-18|1995-02-18|
| 10009|   Senior Engineer|1995-02-18|9999-01-01|
| 10010|          Engineer|1996-11-24|9999-01-01|
| 10011|             Staff|1990-01-22|1996-11-09|
| 10012|          Engineer|1992-12-18|2000-12-18|
| 10012|   Senior Engineer|2000-12-18|9999-01-01|
| 10013|      Senior Staff|1985-10-20|9999-01-01|
| 10014|          Engineer|1993-12-29|9999-01-01|
+------+------------------+----------+----------+
only showing top 20 rows

In [55]:
employees.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- birth_date: date (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- hire_date: date (nullable = true)

In [56]:
salaries.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- from_date: date (nullable = true)
 |-- to_date: date (nullable = true)

In [57]:
departments.printSchema()

root
 |-- dept_no: string (nullable = true)
 |-- dept_name: string (nullable = true)

In [58]:
dept_emp.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- dept_no: string (nullable = true)
 |-- from_date: date (nullable = true)
 |-- to_date: date (nullable = true)

In [59]:
dept_manager.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- dept_no: string (nullable = true)
 |-- from_date: date (nullable = true)
 |-- to_date: date (nullable = true)

In [60]:
titles.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- from_date: date (nullable = true)
 |-- to_date: date (nullable = true)

In [61]:
employees.join(salaries, employees.emp_no==salaries.emp_no, 'left').show()

+------+----------+----------+---------+------+----------+------+------+----------+----------+
|emp_no|birth_date|first_name|last_name|gender| hire_date|emp_no|salary| from_date|   to_date|
+------+----------+----------+---------+------+----------+------+------+----------+----------+
| 10011|1953-11-07|      Mary|    Sluis|     F|1990-01-22| 10011| 42365|1990-01-22|1991-01-22|
| 10011|1953-11-07|      Mary|    Sluis|     F|1990-01-22| 10011| 44200|1991-01-22|1992-01-22|
| 10011|1953-11-07|      Mary|    Sluis|     F|1990-01-22| 10011| 48214|1992-01-22|1993-01-21|
| 10011|1953-11-07|      Mary|    Sluis|     F|1990-01-22| 10011| 50927|1993-01-21|1994-01-21|
| 10011|1953-11-07|      Mary|    Sluis|     F|1990-01-22| 10011| 51470|1994-01-21|1995-01-21|
| 10011|1953-11-07|      Mary|    Sluis|     F|1990-01-22| 10011| 54545|1995-01-21|1996-01-21|
| 10011|1953-11-07|      Mary|    Sluis|     F|1990-01-22| 10011| 56753|1996-01-21|1996-11-09|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 40000|1985-10-20|1986-10-20|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 40623|1986-10-20|1987-10-20|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 40561|1987-10-20|1988-10-19|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 40306|1988-10-19|1989-10-19|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 43569|1989-10-19|1990-10-19|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 46305|1990-10-19|1991-10-19|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 47118|1991-10-19|1992-10-18|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 50351|1992-10-18|1993-10-18|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 49887|1993-10-18|1994-10-18|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 53957|1994-10-18|1995-10-18|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 57590|1995-10-18|1996-10-17|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 59228|1996-10-17|1997-10-17|
| 10013|1963-06-07| Eberhardt|   Terkki|     M|1985-10-20| 10013| 59571|1997-10-17|1998-10-17|
+------+----------+----------+---------+------+----------+------+------+----------+----------+
only showing top 20 rows

In [62]:
e_sal = employees.alias('e').join(salaries.alias('s'), employees.emp_no==salaries.emp_no, 'left')\
.groupBy('e.emp_no')\
.agg(round(avg('s.salary'),2).alias('avg_salary'))
e_sal.show()

+------+----------+
|emp_no|avg_salary|
+------+----------+
| 10011|   49782.0|
| 10013|  52431.59|
| 10015|   40000.0|
| 10018|  68640.06|
| 10020|   43278.2|
| 10022|  40427.67|
| 10032|  56633.62|
| 10043|  64416.92|
| 10058|   63302.8|
| 10075|  52225.62|
| 10081|  67264.63|
| 10090|  59203.71|
| 10096|   64945.0|
| 10121|  55972.36|
| 10128|   49521.2|
| 10143|  54412.64|
| 10162|   44129.0|
| 10168|  65014.94|
| 10177|   50030.0|
| 10180|  60608.11|
+------+----------+
only showing top 20 rows

In [63]:
employees.join(e_sal, employees.emp_no==e_sal.emp_no, 'left').select(employees['*'],e_sal['avg_salary']).orderBy(employees.emp_no).show()

+------+----------+----------+-----------+------+----------+----------+
|emp_no|birth_date|first_name|  last_name|gender| hire_date|avg_salary|
+------+----------+----------+-----------+------+----------+----------+
| 10001|1953-09-02|    Georgi|    Facello|     M|1986-06-26|  75388.94|
| 10002|1964-06-02|   Bezalel|     Simmel|     F|1985-11-21|   68854.5|
| 10003|1959-12-03|     Parto|    Bamford|     M|1986-08-28|  43030.29|
| 10004|1954-05-01| Chirstian|    Koblick|     M|1986-12-01|  56512.25|
| 10005|1955-01-21|   Kyoichi|   Maliniak|     M|1989-09-12|  87275.77|
| 10006|1953-04-20|    Anneke|    Preusig|     F|1989-06-02|  50514.92|
| 10007|1957-05-23|   Tzvetan|  Zielinski|     F|1989-02-10|  70826.71|
| 10008|1958-02-19|    Saniya|   Kalloufi|     M|1994-09-15|  49307.67|
| 10009|1952-04-19|    Sumant|       Peac|     F|1985-02-18|  78284.56|
| 10010|1963-06-01| Duangkaew|   Piveteau|     F|1989-08-24|   76723.0|
| 10011|1953-11-07|      Mary|      Sluis|     F|1990-01-22|   49782.0|
| 10012|1960-10-04|  Patricio|  Bridgland|     M|1992-12-18|   46902.8|
| 10013|1963-06-07| Eberhardt|     Terkki|     M|1985-10-20|  52431.59|
| 10014|1956-02-12|     Berni|      Genin|     M|1987-03-11|  52990.33|
| 10015|1959-08-19|  Guoxiang|  Nooteboom|     M|1987-07-02|   40000.0|
| 10016|1961-05-02|  Kazuhito|Cappelletti|     M|1995-01-27|   74995.4|
| 10017|1958-07-06| Cristinel|  Bouloucos|     F|1993-08-03|   87064.7|
| 10018|1954-06-19|  Kazuhide|       Peha|     F|1987-04-03|  68640.06|
| 10019|1953-01-23|   Lillian|    Haddadi|     M|1999-04-30|  47007.25|
| 10020|1952-12-24|    Mayuko|    Warwick|     M|1991-01-26|   43278.2|
+------+----------+----------+-----------+------+----------+----------+
only showing top 20 rows

In [64]:
employees.createOrReplaceTempView('employees')
salaries.createOrReplaceTempView('salaries')
departments.createOrReplaceTempView('departments')
titles.createOrReplaceTempView('titles')
dept_manager.createOrReplaceTempView('dept_manager')
dept_emp.createOrReplaceTempView('dept_emp')

In [65]:
# Select employee_no, birth_date, avg_salary, dept_name, title from employees
spark.sql("""
with 
cte1 as
(select emp_no, birth_date from employees),
cte2 as
(select emp_no, round(avg(salary),2) as avg_salary from salaries group by emp_no),
cte3 as
(select dm.emp_no, d.dept_name from dept_manager dm join departments d on dm.dept_no=d.dept_no
	union
    select de.emp_no, d.dept_name from dept_emp de join departments d on de.dept_no=d.dept_no),
cte4 as
(select emp_no, title from titles)
select cte1.*, cte2.avg_salary, cte3.dept_name, cte4.title 
from cte1 join cte2 on cte1.emp_no=cte2.emp_no
join cte3 on cte1.emp_no=cte3.emp_no
join cte4 on cte1.emp_no=cte4.emp_no;
""").show()

+------+----------+----------+----------------+---------------+
|emp_no|birth_date|avg_salary|       dept_name|          title|
+------+----------+----------+----------------+---------------+
| 10011|1953-11-07|   49782.0|Customer Service|          Staff|
| 10013|1963-06-07|  52431.59| Human Resources|   Senior Staff|
| 10015|1959-08-19|   40000.0|        Research|   Senior Staff|
| 10018|1954-06-19|  68640.06|     Development|       Engineer|
| 10018|1954-06-19|  68640.06|     Development|Senior Engineer|
| 10018|1954-06-19|  68640.06|      Production|       Engineer|
| 10018|1954-06-19|  68640.06|      Production|Senior Engineer|
| 10020|1952-12-24|   43278.2|      Production|       Engineer|
| 10022|1952-07-08|  40427.67|     Development|       Engineer|
| 10032|1960-08-09|  56633.62|      Production|       Engineer|
| 10032|1960-08-09|  56633.62|      Production|Senior Engineer|
| 10043|1960-09-19|  64416.92|     Development|       Engineer|
| 10043|1960-09-19|  64416.92|     Development|Senior Engineer|
| 10058|1954-10-01|   63302.8|       Marketing|   Senior Staff|
| 10063|1952-08-06|  58313.36|      Production|Senior Engineer|
| 10075|1960-03-09|  52225.62|     Development|Senior Engineer|
| 10081|1960-12-17|  67264.63|      Production|       Engineer|
| 10081|1960-12-17|  67264.63|      Production|Senior Engineer|
| 10090|1961-05-30|  59203.71|     Development|Senior Engineer|
| 10094|1957-05-25|  70946.73|        Research|   Senior Staff|
+------+----------+----------+----------------+---------------+
only showing top 20 rows

In [66]:
# Select employee_no, birth_date, avg_salary, dept_name, title from employees
spark.sql("""
with 
cte1 as
(select emp_no, birth_date from employees),
cte2 as
(select emp_no, round(avg(salary),2) as avg_salary from salaries group by emp_no),
cte3 as
(select dm.emp_no, d.dept_name from dept_manager dm join departments d on dm.dept_no=d.dept_no
	union
    select de.emp_no, d.dept_name from dept_emp de join departments d on de.dept_no=d.dept_no),
cte4 as
(select emp_no, title from titles)
select cte1.*, cte2.avg_salary, cte3.dept_name, cte4.title 
from cte1 join cte2 on cte1.emp_no=cte2.emp_no
join cte3 on cte1.emp_no=cte3.emp_no
join cte4 on cte1.emp_no=cte4.emp_no;
""").count()

166620

In [67]:
cte1 = employees.select('emp_no','birth_date')
cte1.show()

+------+----------+
|emp_no|birth_date|
+------+----------+
| 10001|1953-09-02|
| 10002|1964-06-02|
| 10003|1959-12-03|
| 10004|1954-05-01|
| 10005|1955-01-21|
| 10006|1953-04-20|
| 10007|1957-05-23|
| 10008|1958-02-19|
| 10009|1952-04-19|
| 10010|1963-06-01|
| 10011|1953-11-07|
| 10012|1960-10-04|
| 10013|1963-06-07|
| 10014|1956-02-12|
| 10015|1959-08-19|
| 10016|1961-05-02|
| 10017|1958-07-06|
| 10018|1954-06-19|
| 10019|1953-01-23|
| 10020|1952-12-24|
+------+----------+
only showing top 20 rows

In [68]:
cte2 = salaries.groupBy('emp_no').agg(round(avg('salary'),2).alias('avg_salary'))
cte2.show()

+------+----------+
|emp_no|avg_salary|
+------+----------+
| 10206|  55591.73|
| 10362|   47990.0|
| 10623|  71811.64|
| 10817|  65324.67|
| 11033|  66597.75|
| 11141|   49439.3|
| 11317|  47334.71|
| 11458|  63011.29|
| 11748|  63317.71|
| 11858|  43584.33|
| 12027|  57875.71|
| 12046|  73442.33|
| 12799|  52852.67|
| 12940|  67110.47|
| 13285|   44486.5|
| 13289|  75785.13|
| 13623|  45617.86|
| 13832|  70883.17|
| 13840|   40726.5|
| 14450|  66555.42|
+------+----------+
only showing top 20 rows

In [69]:
dept1 = dept_emp.join(departments, departments.dept_no==dept_emp.dept_no)
dept1.show()

+------+-------+----------+----------+-------+------------------+
|emp_no|dept_no| from_date|   to_date|dept_no|         dept_name|
+------+-------+----------+----------+-------+------------------+
| 10001|   d005|1986-06-26|9999-01-01|   d005|       Development|
| 10002|   d007|1996-08-03|9999-01-01|   d007|             Sales|
| 10003|   d004|1995-12-03|9999-01-01|   d004|        Production|
| 10004|   d004|1986-12-01|9999-01-01|   d004|        Production|
| 10005|   d003|1989-09-12|9999-01-01|   d003|   Human Resources|
| 10006|   d005|1990-08-05|9999-01-01|   d005|       Development|
| 10007|   d008|1989-02-10|9999-01-01|   d008|          Research|
| 10008|   d005|1998-03-11|2000-07-31|   d005|       Development|
| 10009|   d006|1985-02-18|9999-01-01|   d006|Quality Management|
| 10010|   d004|1996-11-24|2000-06-26|   d004|        Production|
| 10010|   d006|2000-06-26|9999-01-01|   d006|Quality Management|
| 10011|   d009|1990-01-22|1996-11-09|   d009|  Customer Service|
| 10012|   d005|1992-12-18|9999-01-01|   d005|       Development|
| 10013|   d003|1985-10-20|9999-01-01|   d003|   Human Resources|
| 10014|   d005|1993-12-29|9999-01-01|   d005|       Development|
| 10015|   d008|1992-09-19|1993-08-22|   d008|          Research|
| 10016|   d007|1998-02-11|9999-01-01|   d007|             Sales|
| 10017|   d001|1993-08-03|9999-01-01|   d001|         Marketing|
| 10018|   d004|1992-07-29|9999-01-01|   d004|        Production|
| 10018|   d005|1987-04-03|1992-07-29|   d005|       Development|
+------+-------+----------+----------+-------+------------------+
only showing top 20 rows

In [70]:
dept2 = dept_manager.join(departments, departments.dept_no==dept_manager.dept_no)
dept2.show()

+------+-------+----------+----------+-------+------------------+
|emp_no|dept_no| from_date|   to_date|dept_no|         dept_name|
+------+-------+----------+----------+-------+------------------+
|110022|   d001|1985-01-01|1991-10-01|   d001|         Marketing|
|110039|   d001|1991-10-01|9999-01-01|   d001|         Marketing|
|110085|   d002|1985-01-01|1989-12-17|   d002|           Finance|
|110114|   d002|1989-12-17|9999-01-01|   d002|           Finance|
|110183|   d003|1985-01-01|1992-03-21|   d003|   Human Resources|
|110228|   d003|1992-03-21|9999-01-01|   d003|   Human Resources|
|110303|   d004|1985-01-01|1988-09-09|   d004|        Production|
|110344|   d004|1988-09-09|1992-08-02|   d004|        Production|
|110386|   d004|1992-08-02|1996-08-30|   d004|        Production|
|110420|   d004|1996-08-30|9999-01-01|   d004|        Production|
|110511|   d005|1985-01-01|1992-04-25|   d005|       Development|
|110567|   d005|1992-04-25|9999-01-01|   d005|       Development|
|110725|   d006|1985-01-01|1989-05-06|   d006|Quality Management|
|110765|   d006|1989-05-06|1991-09-12|   d006|Quality Management|
|110800|   d006|1991-09-12|1994-06-28|   d006|Quality Management|
|110854|   d006|1994-06-28|9999-01-01|   d006|Quality Management|
|111035|   d007|1985-01-01|1991-03-07|   d007|             Sales|
|111133|   d007|1991-03-07|9999-01-01|   d007|             Sales|
|111400|   d008|1985-01-01|1991-04-08|   d008|          Research|
|111534|   d008|1991-04-08|9999-01-01|   d008|          Research|
+------+-------+----------+----------+-------+------------------+
only showing top 20 rows

In [71]:
cte3 = dept1.union(dept2).select('emp_no','dept_name')
cte3.show()

+------+------------------+
|emp_no|         dept_name|
+------+------------------+
| 10001|       Development|
| 10002|             Sales|
| 10003|        Production|
| 10004|        Production|
| 10005|   Human Resources|
| 10006|       Development|
| 10007|          Research|
| 10008|       Development|
| 10009|Quality Management|
| 10010|        Production|
| 10010|Quality Management|
| 10011|  Customer Service|
| 10012|       Development|
| 10013|   Human Resources|
| 10014|       Development|
| 10015|          Research|
| 10016|             Sales|
| 10017|         Marketing|
| 10018|        Production|
| 10018|       Development|
+------+------------------+
only showing top 20 rows

In [72]:
cte4 = titles.select('emp_no','title')
cte4.show()

+------+------------------+
|emp_no|             title|
+------+------------------+
| 10001|   Senior Engineer|
| 10002|             Staff|
| 10003|   Senior Engineer|
| 10004|          Engineer|
| 10004|   Senior Engineer|
| 10005|      Senior Staff|
| 10005|             Staff|
| 10006|   Senior Engineer|
| 10007|      Senior Staff|
| 10007|             Staff|
| 10008|Assistant Engineer|
| 10009|Assistant Engineer|
| 10009|          Engineer|
| 10009|   Senior Engineer|
| 10010|          Engineer|
| 10011|             Staff|
| 10012|          Engineer|
| 10012|   Senior Engineer|
| 10013|      Senior Staff|
| 10014|          Engineer|
+------+------------------+
only showing top 20 rows

In [73]:
cte1.join(cte2,cte1.emp_no==cte2.emp_no).show()

+------+----------+------+----------+
|emp_no|birth_date|emp_no|avg_salary|
+------+----------+------+----------+
| 10206|1960-09-19| 10206|  55591.73|
| 10362|1963-09-16| 10362|   47990.0|
| 10623|1953-07-11| 10623|  71811.64|
| 10817|1958-10-02| 10817|  65324.67|
| 11033|1957-03-01| 11033|  66597.75|
| 11141|1957-08-20| 11141|   49439.3|
| 11317|1954-07-24| 11317|  47334.71|
| 11458|1958-08-09| 11458|  63011.29|
| 11748|1953-03-07| 11748|  63317.71|
| 11858|1962-11-21| 11858|  43584.33|
| 12027|1962-07-31| 12027|  57875.71|
| 12046|1961-05-16| 12046|  73442.33|
| 12799|1954-11-21| 12799|  52852.67|
| 12940|1953-10-25| 12940|  67110.47|
| 13285|1963-03-06| 13285|   44486.5|
| 13289|1962-08-12| 13289|  75785.13|
| 13623|1961-05-24| 13623|  45617.86|
| 13832|1954-04-21| 13832|  70883.17|
| 13840|1954-11-13| 13840|   40726.5|
| 14450|1963-08-01| 14450|  66555.42|
+------+----------+------+----------+
only showing top 20 rows

In [74]:
cte1.join(cte3,cte1.emp_no==cte3.emp_no).show()

+------+----------+------+------------------+
|emp_no|birth_date|emp_no|         dept_name|
+------+----------+------+------------------+
| 10001|1953-09-02| 10001|       Development|
| 10002|1964-06-02| 10002|             Sales|
| 10003|1959-12-03| 10003|        Production|
| 10004|1954-05-01| 10004|        Production|
| 10005|1955-01-21| 10005|   Human Resources|
| 10006|1953-04-20| 10006|       Development|
| 10007|1957-05-23| 10007|          Research|
| 10008|1958-02-19| 10008|       Development|
| 10009|1952-04-19| 10009|Quality Management|
| 10010|1963-06-01| 10010|        Production|
| 10010|1963-06-01| 10010|Quality Management|
| 10011|1953-11-07| 10011|  Customer Service|
| 10012|1960-10-04| 10012|       Development|
| 10013|1963-06-07| 10013|   Human Resources|
| 10014|1956-02-12| 10014|       Development|
| 10015|1959-08-19| 10015|          Research|
| 10016|1961-05-02| 10016|             Sales|
| 10017|1958-07-06| 10017|         Marketing|
| 10018|1954-06-19| 10018|        Production|
| 10018|1954-06-19| 10018|       Development|
+------+----------+------+------------------+
only showing top 20 rows

In [75]:
# Select employee_no, birth_date, avg_salary, dept_name, title from employees
cte1.join(cte2,cte1.emp_no==cte2.emp_no)\
.join(cte3,cte1.emp_no==cte3.emp_no)\
.join(cte4,cte1.emp_no==cte4.emp_no)\
.select(cte1.emp_no,cte1.birth_date,cte2.avg_salary,cte3.dept_name,cte4.title)\
.show()

+------+----------+----------+----------------+---------------+
|emp_no|birth_date|avg_salary|       dept_name|          title|
+------+----------+----------+----------------+---------------+
| 10011|1953-11-07|   49782.0|Customer Service|          Staff|
| 10013|1963-06-07|  52431.59| Human Resources|   Senior Staff|
| 10015|1959-08-19|   40000.0|        Research|   Senior Staff|
| 10018|1954-06-19|  68640.06|      Production|       Engineer|
| 10018|1954-06-19|  68640.06|      Production|Senior Engineer|
| 10018|1954-06-19|  68640.06|     Development|       Engineer|
| 10018|1954-06-19|  68640.06|     Development|Senior Engineer|
| 10020|1952-12-24|   43278.2|      Production|       Engineer|
| 10022|1952-07-08|  40427.67|     Development|       Engineer|
| 10032|1960-08-09|  56633.62|      Production|       Engineer|
| 10032|1960-08-09|  56633.62|      Production|Senior Engineer|
| 10043|1960-09-19|  64416.92|     Development|       Engineer|
| 10043|1960-09-19|  64416.92|     Development|Senior Engineer|
| 10058|1954-10-01|   63302.8|       Marketing|   Senior Staff|
| 10063|1952-08-06|  58313.36|      Production|Senior Engineer|
| 10075|1960-03-09|  52225.62|     Development|Senior Engineer|
| 10081|1960-12-17|  67264.63|      Production|       Engineer|
| 10081|1960-12-17|  67264.63|      Production|Senior Engineer|
| 10090|1961-05-30|  59203.71|     Development|Senior Engineer|
| 10094|1957-05-25|  70946.73|        Research|   Senior Staff|
+------+----------+----------+----------------+---------------+
only showing top 20 rows

In [76]:
# Select employee_no, birth_date, avg_salary, dept_name, title from employees
cte1.join(cte2,cte1.emp_no==cte2.emp_no)\
.join(cte3,cte1.emp_no==cte3.emp_no)\
.join(cte4,cte1.emp_no==cte4.emp_no)\
.select(cte1.emp_no,cte1.birth_date,cte2.avg_salary,cte3.dept_name,cte4.title)\
.count()

166674